<div class="page">
  <h1>Create Auditorium</h1>

  <% if @errors %>
    <div class="errors">
      <%= render partial: "partials/errors", locals: { errors: @errors } %>
    </div>
  <% end %>

  <div class="form">
    <%= form_for @auditorium, {action: "create"} do |f| %>
      <fieldset>
        <div class="form-group">
          Room Number <%= f.number_field :room, class: "form-control col-sm-6" %>
        </div>
        <div class="form-group">
          Capacity <%= f.number_field :capacity, class: "form-control col-sm-6" %>
        </div>
        <%= f.submit "Create", class: "btn btn-primary" %>
        <%= link_to "Cancel", showtimes_path %>
      </fieldset>
    <% end %>
  </div>
</div>