<h1>Order#<%= @order.id %></h1>

<p><%= @order.name %>, thank you for your purchase.</p>

<p>Movie Ticket: <%= @order.showtime.movie.title %></p>
<p>Credit Card: <%= @order.credit_card %></p>
<p>Total: $<%= @order.total %></p>

